@model FI.WebAtividadeEntrevista.Models.BeneficiarioModal

<div class="modal fade" id="modalBeneficiarios" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Beneficiários</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="formBeneficiario">
                    @Html.HiddenFor(model => model.ClienteId)

                    <div class="form-group" id="CpfBeneficiario">
                        @Html.LabelFor(model => model.Cpf)
                        @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control cpf", @placeholder = "000.000.000-00" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nome)
                        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Ex.: Maria" })
                    </div>

                    <button type="button" class="btn btn-success" id="btnIncluirBeneficiario">Incluir</button>
                </form>

                <hr />
                <table class="table table-bordered mt-3" id="tabelaBeneficiarios">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
